<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register or Login</title>
</head>

<body>
    <h2>Registration</h2>
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{message}}</li>
    {% endfor %}
    <form action="/register" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="user_info">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="user_info">
        <label for="email">Email</label>
        <input type="email" name="email" id="user_info">
        <label for="password">Password</label>
        <input type="password" name="password" id="user_info">
        <label for="confirm_pw">Confirm PW</label>
        <input type="password" name="confirm_pw" id="user_info">
        <button>Register</button>
    </form>
    <h2>Login</h2>
    <form action="/login" method="POST">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name="email" id="user_login">
        <label for="login_pw">Password</label>
        <input type="password" name="login_pw" id="user_login">
        <button>Login</button>
    </form>
</body>

</html>